{% extends 'layouts/main.html' %}
{% block content %}
<div class="row">
	<div>
		<h3>
			<a href="openedg.onrender.com/items"><button>View all items</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="openedg.onrender.com/items/create"><button>Create an item</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="openedg.onrender.com/sections"><button>Sections</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="openedg.onrender.com/item_types"><button>Item types</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="openedg.onrender.com/jobs"><button>Job Types</button></a>
		</h3>
	</div>
</div>
{% endblock %}