{% extends 'layouts/main.html' %}
{% block content %}
<div class="row">
	<div>
		<h3>
			<a href="/items"><button>View all items</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="/items/create"><button>Create an item</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="/sections"><button>Sections</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="/item_types"><button>Item types</button></a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="/jobs"><button>Job Types</button></a>
		</h3>
	</div>
</div>
{% endblock %}