{% extends 'layouts/main.html' %}
{% block title %}New Section{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="openedg.onrender.com/sections/create">
      <h3 class="form-heading">Create a new section</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.new_section(class_ = 'form-control', autofocus = true) }}
      </div>
      <input type="submit" value="Create Section">
    </form>
  </div>
{% endblock %}
